@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

body {
  background-image: url(images/green.jpg);
  font-family: "Overlock", cursive;
}

.App {
  text-align: left;
}
